.form{
    
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 20px;

}
.form__input{
    padding: 8px;
}

.form__button{
    background-color: teal;
    color:white;
    font-weight: 200;
    border:none;
    flex-grow: 1;
}

.form__button:hover{
    cursor:pointer;
    background-color: hsl(180, 100%, 20%);
}

@media (max-width: 767px){
    .form{
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr;
    }
}